.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/functions/
/node_modules/
/firebase.json
/mysql-connector-java-5.0.8-bin/
/package-lock.json
/key.properties
/keystore.jks
/app/release/app-release.apk
/app/release/output.json