<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycompany.sip" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MapHome"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation">
        </activity>
        <activity android:name=".selectActivity"
            android:label="@string/title_activity_select"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity android:name=".AllSitesActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AllUnitsActivity" >
        </activity>
        <activity android:name=".AllLevelsActivity" >
        </activity>
        <activity android:name=".AllArtifactsActivity" >
        </activity>
    </application>

</manifest>
